---
import Layout from "@/layouts/Layout.astro";
// import Dayscard from "@/components/Dayscard.astro";
import Monthscard from '@/components/Monthscard.astro';
import jdata from '@/components/events.json'

const years = Object.keys(jdata).sort()
---

<Layout title="tab">
    <div role="tablist" class="tabs tabs-bordered">
        { years.map((y, index) => (
          <>{
            index === 3 ?
            <input 
                  type="radio" 
                  name='year_tab' 
                  role="tab" 
                  class="tab" 
                  aria-label={y} 
                  checked
              /> 
            :
            <input 
                  type="radio" 
                  name='year_tab' 
                  role="tab" 
                  class="tab" 
                  aria-label={y} 
              /> 
          }
          </>
            <div role="tabpanel" class="tab-content p-2">
                <Monthscard data={jdata[y]}/>
            </div>
        ))}
      </div>

</Layout>