---
const { data } = Astro.props;
const dates = Object.keys(data);
---

<div class="flex flex-row flex-wrap gap-1 justify-between">
  {
    dates.map((d) => (
      <div class="card-bordered w-32 shadow-xl">
        <div class="flex flex-col m-0 p-0">
          <a href={`/ww/${data[d]["ru"]}`}>
          <p class="text-sm text-center m-0 p-1">{data[d].ru}</p>
          </a>
            <div class="p-1 m-0 text-center">{data[d]["days"]}</div>
          {/* <p class="text-sm text-center m-0 p-1">-----</p> */}
          <p class="text-xs m-0 p-1">{data[d].ww}：{data[d].event}</p>
        </div>
      </div>
    ))
  }
</div>
