---
import Dayscard from "@/components/Dayscard.astro";
const {data} = Astro.props
const months = Object.keys(data).sort();
---

<div role="tablist" class="tabs tabs-bordered">
    { months.map((m, index) => (
        <>
        {index === 0 ?
        <input type="radio" name="month_tab" role="tab" class="tab" aria-label={m} checked="checked"/>
        :
        <input type="radio" name="month_tab" role="tab" class="tab" aria-label={m} />}
        </>
        <div role="tabpanel" class="tab-content p-1">
            <Dayscard data={data[m]}/>
        </div>
    ))}
</div>
